body {
    background-image: url("../image/formulario.jpg");
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    height: 70px;
}

.mp {
    position: fixed;
    width: 100%;
}

.mp ul {
    background-color: rgba(70, 0, 130, 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
}

.mp ul li {
    display: inline;
    position: relative;
}

.mp ul li a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    font-size: 18px;
    padding: 16px;
    display: inline-block;
    transition: background .1s;
    border-radius: 50%;
}

.mp ul li a:hover {
    color: rgb(70, 0, 130);
    background-image: url("../image/formulario.jpg");
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    border-radius: 20px;
}

.mp ul ul {
    display: none;
    position: absolute;
    transition: all .5s;
    background-color: rgba(70, 0, 130, 0.5);
}

.mp ul li:hover ul {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    border-radius: 0 0 20% 20%;
    display: block;
}

.mp ul ul {
    justify-content: center;
    width: 250px;
    text-align: center;
}

.mp ul ul li a {
    display: block;
    border-radius: 50%;
}

#logo {
    position: absolute;
    margin-left: 20px;
    width: 80px;
}

.sessao {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.imagem img {
    width: 400px;
    border-radius: 20px 20px 0 0;
}

.cartao {
    border-radius: 20px;
    margin: 25px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

.texto {
    border-radius: 0 0 20px 20px;
    border-top: 2px solid rgba(0, 206, 209);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    padding: 10px;
    width: 400px;
    color: white;
    font-weight: 800;
    background-color: rgba(70, 0, 130, 0.5);
    overflow: auto;
}

.botao {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.botao input {
    padding: 10px;
    color: blue;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    border: none;
    background-color: rgba(0, 206, 209);
    width: 350px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 20px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
}

div.rodape {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: rgba(70, 0, 130, 0.5);
    color: white;
    font-weight: 800;
    padding: 10px;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    font-size: 15pt;
}

div.roda {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: rgba(70, 0, 130, 0.5);
    color: white;
    font-weight: 800;
    padding: 20px;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    font-size: 15pt;
}